<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>login</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Beeline</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/register">Register <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Map <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/arrow">Arrow <span class="sr-only">(current)</span></a>
        </li>
      </ul>

    </div>
  </nav>
  
  <div class="container mt-4">
    <form action="/login" method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" id="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p></p>
    </form>
    <a href="/register" class="btn btn-dark btn align-center" role="button" aria-disabled="true">Register</a>
  </div>
  <div class="cookie-notification js-cookie-notification">
    <p>This website uses cookies to store user sessions <a href="/your-cookie-policy">Learn more</a> or <a href="#" class="js-cookie-notification-hide">Agree and dismiss</a>.</p>					
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
  </script>
  	<script>
      /*!
      * JavaScript Cookie v2.0.3
      * https://github.com/js-cookie/js-cookie
      *
      * Copyright 2006, 2015 Klaus Hartl & Fagner Brack
      * Released under the MIT license
      */
      !function(e){if("function"==typeof define&&define.amd)define(e);else if("object"==typeof exports)module.exports=e();else{var n=window.Cookies,o=window.Cookies=e(window.jQuery);o.noConflict=function(){return window.Cookies=n,o}}}(function(){function e(){for(var e=0,n={};e<arguments.length;e++){var o=arguments[e];for(var t in o)n[t]=o[t]}return n}function n(o){function t(n,r,i){var c;if(arguments.length>1){if(i=e({path:"/"},t.defaults,i),"number"==typeof i.expires){var s=new Date;s.setMilliseconds(s.getMilliseconds()+864e5*i.expires),i.expires=s}try{c=JSON.stringify(r),/^[\{\[]/.test(c)&&(r=c)}catch(a){}return r=encodeURIComponent(String(r)),r=r.replace(/%(23|24|26|2B|3A|3C|3E|3D|2F|3F|40|5B|5D|5E|60|7B|7D|7C)/g,decodeURIComponent),n=encodeURIComponent(String(n)),n=n.replace(/%(23|24|26|2B|5E|60|7C)/g,decodeURIComponent),n=n.replace(/[\(\)]/g,escape),document.cookie=[n,"=",r,i.expires&&"; expires="+i.expires.toUTCString(),i.path&&"; path="+i.path,i.domain&&"; domain="+i.domain,i.secure?"; secure":""].join("")}n||(c={});for(var p=document.cookie?document.cookie.split("; "):[],u=/(%[0-9A-Z]{2})+/g,d=0;d<p.length;d++){var f=p[d].split("="),l=f[0].replace(u,decodeURIComponent),m=f.slice(1).join("=");'"'===m.charAt(0)&&(m=m.slice(1,-1));try{if(m=o&&o(m,l)||m.replace(u,decodeURIComponent),this.json)try{m=JSON.parse(m)}catch(a){}if(n===l){c=m;break}n||(c[l]=m)}catch(a){}}return c}return t.get=t.set=t,t.getJSON=function(){return t.apply({json:!0},[].slice.call(arguments))},t.defaults={},t.remove=function(n,o){t(n,"",e(o,{expires:-1}))},t.withConverter=n,t}return n()});
     </script>
  <script>
    $( document ).ready( function() {
			cookieNotification();
			hideCookieNotification();
		});

		var hideCookieNotification = function() {
			
			// Hide the	cookie notification after 5 sec 
			$( '.js-cookie-notification' ).delay(5000).fadeOut( "slow" );
			
			// Set a cookie 
			Cookies.set('CookieNotificationCookie', 'true', { expires: 365 });

		};

		var cookieNotification = function() {

			var setCookieNotification = function() {	
  			
  			// Hide the	cookie notification	  
			  $( '.js-cookie-notification' ).fadeOut( "slow" );
			 	
			 	// Set a cookie 
			  Cookies.set('CookieNotificationCookie', 'true', { expires: 365 });

			  // Stop the page reloading
				return false;

  		};

			// Check to see if a cookie notification has been set
			if ( Cookies.get('CookieNotificationCookie') === 'true' ) {
				
				// Tell me a cookie has been set
				console.log('cookie notification set');

			} else {

				// Tell me a cookie has not been set
				console.log('cookie notification not set');

				// Show cookie notification
				$('.js-cookie-notification').css({ 'display' : 'block'});

				// Hide cookie notification if link clicked
				$('.js-cookie-notification').find('.js-cookie-notification-hide').click( setCookieNotification );

			};					

		}
  </script>
</body>

</html>